{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h2>Editar Vehículo</h2>
  <form method="post" action="{% url 'editar_vehiculo' vehiculo.id_vehiculo %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="patente">Patente</label>
      {{ form.patente|as_crispy_field }}
    </div>
    <div class="form-group">
      <label for="marca">Marca</label>
      {{ form.marca|as_crispy_field }}
    </div>
    <div class="form-group">
      <label for="modelo">Modelo</label>
      {{ form.modelo|as_crispy_field }}
    </div>
    <div class="form-group">
      <label for="año">Año</label>
      {{ form.año|as_crispy_field }}
    </div>
    <div class="form-group">
      <label for="color">Color</label>
      {{ form.color|as_crispy_field }}
    </div>
    <div class="form-group">
      <label for="kilometraje">Kilometraje</label>
      {{ form.kilometraje|as_crispy_field }}
    </div>
    <div class="form-group">
      <label for="tipo_combustible">Tipo de Combustible</label>
      {{ form.tipo_combustible|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
  </form>
</div>
{% endblock %}
