<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blaze - Lista de Vehículos</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'listaVehiculos.css' %}">
</head>
<body>

    <div class="list-container">
        <h1>Lista de Vehículos Registrados</h1>

        <ul class="vehicle-list">
            {% for vehiculo in vehiculos %}
                <li><span>Marca:</span> {{ vehiculo.marca }}</li>
                <li><span>Modelo:</span> {{ vehiculo.modelo }}</li>
                <li><span>Año:</span> {{ vehiculo.año }}</li>
                <li><span>Color:</span> {{ vehiculo.color }}</li>
                <li><span>Patente:</span> {{ vehiculo.patente }}</li>
                <hr>
            {% empty %}
                <li class="no-vehicles">No hay vehículos registrados.</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
