{% extends 'base.html' %} {% block title %}Página Principal{% endblock %}
{%block content %}
<div class="container mt-5 text-center">
  <h1>Bienvenido al Taller Automotriz Blaze</h1>
  <p>Gestione sus vehículos y servicios de manera eficiente.</p>

  <div class="row">
    <!-- Opciones para Administrador -->
    {% if user.perfil.rol == 'Administrador' %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vehículos</h5>
          <p class="card-text">Registre, edite y consulte vehículos.</p>
          <a href="{% url 'lista_vehiculos' %}" class="btn btn-primary"
            >Ir a Vehículos</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Dueños</h5>
          <p class="card-text">
            Gestione la información de los dueños de los vehículos.
          </p>
          <a href="{% url 'lista_dueños' %}" class="btn btn-primary"
            >Ir a Dueños</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Citas</h5>
          <p class="card-text">
            Programe y administre citas para reparaciones.
          </p>
          <a href="{% url 'lista_citas' %}" class="btn btn-primary"
            >Ir a Citas</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Pagos</h5>
          <p class="card-text">Registre y administre los pagos realizados.</p>
          <a href="{% url 'lista_pagos' %}" class="btn btn-primary"
            >Ir a Pagos</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cotizaciones</h5>
          <p class="card-text">Registre y consulte cotizaciones.</p>
          <a href="{% url 'registrar_cotizacion' %}" class="btn btn-primary"
            >Registrar Cotizaciones</a
          >
          <a href="{% url 'editar_cotizacion' %}" class="btn btn-primary"
            >Editar Cotizaciones</a
          >
          <a href="{% url 'lista_cotizaciones' %}" class="btn btn-primary"
            >Lista de Cotizaciones</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Procesos de Reparación</h5>
          <p class="card-text">
            Administre los procesos de reparación de los vehículos.
          </p>
          <a href="{% url 'registrar_proceso' %}" class="btn btn-primary"
            >Registrar Procesos</a
          >
          <a href="{% url 'editar_proceso' %}" class="btn btn-primary"
          >Editar Procesos</a
          >
          <a href="{% url 'lista_procesos' %}" class="btn btn-primary"
            >Lista de Procesos</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Datos de Procesos</h5>
          <p class="card-text">Exportar historial de la empresa</p>
          <a href="{% url 'exportar_datos' %}" class="btn btn-primary"
            >Ir a historial</a
          >
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Opciones para Cliente -->
    {% if user.perfil.rol == 'Cliente' %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Vehículos</h5>
          <p class="card-text">Registre y consulte sus vehículos.</p>
          <a href="{% url 'registro_vehiculo' %}" class="btn btn-primary"
          >Registrar Vehículos</a
          >
          <a href="{% url 'lista_vehiculos' %}" class="btn btn-primary"
            >Ir a Vehículos</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Dueños</h5>
          <p class="card-text">Registre información como dueño de vehículos.</p>
          <a href="{% url 'registro_dueño' %}" class="btn btn-primary"
            >Registrar Dueño</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Pagos</h5>
          <p class="card-text">Registre y consulte sus pagos.</p>
          <a href="{% url 'registro_pago' %}" class="btn btn-primary"
          >Registrar Pagos</a
          >
          <a href="{% url 'lista_pagos' %}" class="btn btn-primary"
            >Ir a Pagos</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Cotizaciones</h5>
          <p class="card-text">Registre y consulte sus cotizaciones.</p>
          <a href="{% url 'registrar_cotizacion' %}" class="btn btn-primary"
          >Registrar Cotizaciones</a
          >
          <a href="{% url 'lista_cotizaciones' %}" class="btn btn-primary"
            >Ir a Cotizaciones</a
          >
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Procesos</h5>
          <p class="card-text">
            Consulte los procesos de reparación de su vehículo.
          </p>
          <a href="{% url 'lista_procesos' %}" class="btn btn-primary"
            >Ver Procesos</a
          >
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Opciones para Trabajador -->
    {% if user.perfil.rol == 'Trabajador' %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Procesos de Reparación</h5>
          <p class="card-text">Registre y consulte los procesos a su cargo.</p>
          <a href="{% url 'lista_procesos' %}" class="btn btn-primary"
            >Ver Procesos</a
          >
          <a href="{% url 'registrar_proceso' %}" class="btn btn-primary"
          >Registrar Procesos</a
        >
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
