{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1>Bienvenido, {{ request.user.username }} a tu cuenta</h1>

  {% if user.perfil.rol == 'dueño' %}
  <p>Como dueño, puedes gestionar tus vehículos y reparaciones.</p>
  {% endif %} {% if user.perfil.rol == 'trabajador' %}
  <p>Como trabajador, puedes gestionar las reparaciones asignadas a ti.</p>
  {% endif %} {% if user.perfil.rol == 'administrador' %}
  <p>
    Como administrador, puedes gestionar todos los usuarios y configuraciones.
  </p>
  {% endif %}

  <h3>Tus Vehículos:</h3>
  <ul class="list-group mb-4">
    {% for vehiculo in vehiculos %}
    <li class="list-group-item">
      <strong>Patente:</strong> {{ vehiculo.patente }} -
      <strong>Modelo:</strong> {{ vehiculo.marca }} {{ vehiculo.modelo }} ({{
      vehiculo.año }})
    </li>
    {% empty %}
    <li class="list-group-item">No tienes vehículos registrados.</li>
    {% endfor %}
  </ul>

  <h3>Tus Reparaciones:</h3>
  <ul class="list-group mb-4">
    {% for reparacion in reparaciones %}
    <li class="list-group-item">
      <strong>Descripción del Problema:</strong> {{ reparacion.desc_problema }}
      - <strong>Estado:</strong> {{ reparacion.estado_reparacion }} -
      <strong>Costo Estimado:</strong> {{ reparacion.costo_estimado }} CLP
    </li>
    {% empty %}
    <li class="list-group-item">No tienes reparaciones en curso.</li>
    {% endfor %}
  </ul>

  <h3>Tus Pagos:</h3>
  <ul class="list-group mb-4">
    {% for pago in pagos %}
    <li class="list-group-item">
      <strong>Monto:</strong> {{ pago.monto }} CLP -
      <strong>Método de Pago:</strong> {{ pago.metodo_pago }} -
      <strong>Estado:</strong> {{ pago.estado_pago }}
    </li>
    {% empty %}
    <li class="list-group-item">No tienes pagos registrados.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
