{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1>Bienvenido, {{ request.user.username }} a tu cuenta</h1>

  {% if user.perfil.rol == 'dueño' %}
  <p>Como dueño, puedes gestionar tus vehículos y procesos.</p>
  {% endif %} {% if user.perfil.rol == 'trabajador' %}
  <p>Como trabajador, puedes gestionar los procesos asignados a ti.</p>
  {% endif %} {% if user.perfil.rol == 'administrador' %}
  <p>
    Como administrador, puedes gestionar todos los usuarios y configuraciones.
  </p>
  {% endif %}

  <!-- Vehiculos -->
  <h3>Tus Vehículos:</h3>
  <ul class="list-group mb-4">
    {% if vehiculos %} {% for vehiculo in vehiculos %}
    <li class="list-group-item">
      <strong>Patente:</strong> {{ vehiculo.patente }}
      <strong>Marca:</strong> {{ vehiculo.marca }}
      <strong>Modelo:</strong> {{vehiculo.modelo }}
      <strong>Año:</strong> {{vehiculo.año }}
    </li>
    {% endfor %} {% else %}
    <li class="list-group-item">No tienes vehículos registrados.</li>
    {% endif %}
  </ul>

  <!-- Procesos -->
  <h3>Tus Procesos:</h3>
  <ul class="list-group mb-4">
    {% if procesos %} {% for proceso in procesos %}
    <li class="list-group-item">
      <strong>Fase del Proceso:</strong> {{ proceso.fase_proceso }} -
      <strong>Descripción:</strong> {{ proceso.descripcion }} -
      <strong>Estado:</strong> {{ proceso.estado_proceso }} -
      <strong>Prioridad:</strong> {{ proceso.prioridad }}
    </li>
    {% endfor %} {% else %}
    <li class="list-group-item">No tienes procesos en curso.</li>
    {% endif %}
  </ul>

  <!-- Pagos -->
  <h3>Tus Pagos:</h3>
  <ul class="list-group mb-4">
    {% if pagos %} {% for pago in pagos %}
    <li class="list-group-item">
      <strong>Monto:</strong> {{ pago.monto }} CLP -
      <strong>Método de Pago:</strong> {{ pago.metodo_pago }} -
      <strong>Estado:</strong> {{ pago.estado_pago }}
    </li>
    {% endfor %} {% else %}
    <li class="list-group-item">No tienes pagos registrados.</li>
    {% endif %}
  </ul>
</div>
{% endblock %}
