{% extends 'base.html' %} {% load crispy_forms_tags %}{% block content %}
<div class="container mt-5">
  <h2>Editar Pago</h2>
  <form method="post" action="{% url 'editar_pago' pago.id %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.monto|as_crispy_field }}
    </div>
    <div class="form-group">
      {{ form.metodo_pago|as_crispy_field }}
    </div>
    <div class="form-group">
      {{ form.fecha_pago|as_crispy_field }}
    </div>
    <div class="form-group">
      {{ form.estado_pago|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
  </form>
</div>
{% endblock %}
