{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container mt-5">
  <h2>Editar Cita</h2>
  <form method="post" action="{% url 'editar_cita' cita.pk %}">
    {% csrf_token %}
    <div class="form-group">{{ form.vehiculo|as_crispy_field }}</div>
    <div class="form-group">{{ form.fecha_y_hora|as_crispy_field }}</div>
    <div class="form-group">{{ form.motivo|as_crispy_field }}</div>
    <div class="form-group">{{ form.ubicacion|as_crispy_field }}</div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
  </form>
</div>

<!-- Calendario -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  flatpickr("#id_fecha_y_hora", {
    enableTime: true,
    dateFormat: "Y-m-d H:i",
    time_24hr: true,
    locale: "es",
  });
</script>
{% endblock %}
